@use "@angular/material" as mat;
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "./assets/scss/variables";
@import "./node_modules/bootstrap/scss/bootstrap";

/* You can add global styles to this file, and also import other style files */

$pulselabs-theme: mat.define-light-theme((
    color: (
        primary: $pulselabs-primary,
        accent: $pulselabs-accent,
        warn: $pulselabs-warn
    ),
    typography: $pulselabs-typography
));

@include mat.all-component-themes($pulselabs-theme);

html,
body {
  height: 100%;
}

* {
  margin: 0;
  font-family: $font-family, "Helvetica Neue", sans-serif;
}

@import "./assets/scss/utilities";
@import "./assets/scss/blunder";